<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>商品列表</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/sweetalert/sweetalert.css}"
	rel="stylesheet" />

<!-- Data Tables -->
<link th:href="@{/css/plugins/dataTables/datatables.min.css}"
	rel="stylesheet">

<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/footable/footable.core.css}"
	rel="stylesheet" />

</head>

<body>

	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation"
			th:include="/w/nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="border-bottom" th:include="/w/header :: headerTop"></div>
			<div class="row wrapper border-bottom white-bg page-heading"
				th:fragment="headerNav">
				<div class="col-lg-10">
					<h2>商品列表</h2>
					<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li><a>商品管理</a></li>
						<li class="active"><strong>商品列表</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div>

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>搜索&amp;操作</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="display: block;">
								<div class="row">
									<form id="qry_form" name="qry_form" method="GET">
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="qry_sku">商品SKU</label>
												<input type="text" id="qry_sku" name="qry_sku"
													th:value="${#httpServletRequest.getParameter('qry_sku')}" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="qry_barcode">商品条码</label> <input
													type="text" id="qry_barcode" name="qry_barcode" th:value="${#httpServletRequest.getParameter('qry_barcode')}"
													class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="qry_name">商品名称</label> <input
													type="text" id="qry_name" name="qry_name" th:value="${#httpServletRequest.getParameter('qry_name')}"
													class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="status">商品分类</label> <select
													name="qry_categoryId" id="qry_categoryId"
													class="form-control goods_category_select3"
													th:utext="${item_gc}">
												</select>
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="qry_businessId">商家</label> <select
													name="qry_businessId" id="qry_businessId" class="form-control">
													<option value="0">全部商家</option>
													<option th:each="b,bIndex:${item_business}"
														th:text="${b.name}" th:value="${b.id}" th:selected="${#httpServletRequest.getParameter('qry_businessId')} eq ${b.id}">フラッシュメモリ</option>
												</select>
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group z-t">
												<button type="submit" class="btn btn-primary">检索</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>商品列表</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<div class="table-responsive">
									<table
										class="table table-striped table-bordered table-hover dataTables-example">
										<thead>
											<tr>
												<th>#</th>
												<th>商家</th>
												<th>SKU</th>
												<th>分类</th>
												<th>名称</th>
												<th>体积(cm3)</th>
												<th>重量(kg)</th>
												<th>形状</th>
												<th>颜色</th>
												<th>备注</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="p,pIndex:${item}">
												<td th:text="${pIndex.count}">1</td>
												<td th:text="${p.bName}"></td>
												<td th:text="${p.sku}">MC8012MX300</td>
												<td th:text="${p.categoryName}">フラッシュメモリ</td>
												<td th:text="${p.name}">Crucial SSD MX300 525GB</td>
												<td th:text="${p.volume}">10</td>
												<td th:text="${p.weight}">0.01</td>
												<td th:text="${p.shapeText}">固体</td>
												<td th:text="${p.color}">MC8012MX300</td>
												<td th:text="${p.remark}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" th:include="/w/footer :: copyright"></div>
		</div>
	</div>

	<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">添加商品</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-3 control-label">商品分类</label>
							<div class="col-lg-9">
								<select class="form-control" name="account">
									<option>选择分类</option>
									<option>フラッシュメモリ</option>
									<option>PC周边</option>
									<option>服装</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品SKU</label>
							<div class="col-lg-9">
								<input type="email" placeholder="请输入商品SKU" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品条码</label>
							<div class="col-lg-9">
								<input type="email" placeholder="请输入商品条码" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品名称</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入商品名称"
									class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品形状</label>
							<div class="col-lg-9">
								<label class="radio-inline"> <input type="radio"
									value="option1" name="sex" checked>固体
								</label> <label class="radio-inline"> <input type="radio"
									value="option2" name="sex">液体
								</label> <label class="radio-inline"> <input type="radio"
									value="option3" name="sex">气体
								</label>

							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">长(cm)</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入长" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">宽(cm)</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入宽" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">高(cm)</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入高" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">重量(KG)</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入重量" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">颜色</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入颜色" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">备注</label>
							<div class="col-lg-9">
								<input type="password" placeholder="" class="form-control">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">确认添加</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Data Tables -->
	<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js/inspinia.js}"></script>
	<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

	<!-- iCheck -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/demo/peity-demo.js}"></script>

	<!-- FooTable -->
	<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

	<!-- common -->
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/user/a_product.js}"></script>

	<script th:inline="javascript">
		
	</script>

</body>

</html>
