<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>纳品明细</title>

	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/sweetalert/sweetalert.css}"
		  rel="stylesheet" />

	<!-- Data Tables -->
	<link th:href="@{/css/plugins/dataTables/datatables.min.css}"
		  rel="stylesheet">

	<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />

	<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/footable/footable.core.css}"
		  rel="stylesheet" />
	<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/datapicker/datepicker3.css}"
		  rel="stylesheet">
	<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/footable/footable.core.css}"
		  rel="stylesheet" />

</head>

<body>

	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation"
			th:include="/c/nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="border-bottom" th:include="/c/header :: headerTop"></div>
			<div class="row wrapper border-bottom white-bg page-heading"
				th:fragment="headerNav">
				<div class="col-lg-10">
					<h2>纳品明细</h2>
					<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li><a>库存管理</a></li>
						<li class="active"><strong>纳品明细</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div>

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>搜索&amp;操作</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="display: block;">
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group z_mb0">
											<button type="button" class="btn btn-primary"
												onclick="javascript:window.location.href='/b/entry/list'">返回一览</button>
											<button type="button" class="btn btn-info" id="addGoodsBtn" onclick="showAddGoddsModal()">追加商品</button>
											<button type="button" class="btn btn-success">打印SKU</button>
											<button type="button" class="btn btn-success">打印货单</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>纳品明细</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover dataTables-example" id="table_refresh"  th:fragment="table_refresh">
										<thead>
											<tr>
												<th>#</th>
												<th>纳品ID</th>
												<th>SKU</th>
												<th>分类</th>
												<th>名称</th>
												<th>纳品数量</th>
												<th>库存</th>
												<th>货运单号</th>
												<th>入库数量</th>
												<th style="display: none"></th>
												<th>入库差异</th>
												<th>状态</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="p,pIndex:${item}">
												<td th:text="${pIndex.count}"></td>
												<td name = "entryId" th:text="${p.entryId}"></td>
												<td th:text="${p.sku}"></td>
												<td th:text="${p.categoryName}"></td>
												<td th:text="${p.goodsName}"></td>
												<td th:text="${p.nums}"></td>
												<td th:text="${p.stockNums}"></td>
												<td th:text="${p.sendId}"></td>
												<td th:text="${p.inputNums}"></td>
												<td th:text="${p.inputDiff}"></td>
												<td name = "status" th:text="${p.status}" style="display: none"></td>	<!--隐藏显示纳品状态-->
												<td th:if="${p.status == 1}">申请中</td>
												<td th:if="${p.status == 2}">库存不足</td>
												<td th:if="${p.status == 3}">运营商承认完了</td>
												<td th:if="${p.status == 4}">取消</td>
												<td th:if="${p.status == 5}">运输中</td>
												<td th:if="${p.status == 6}">入库完了</td>
												<td th:if="${p.status == 7}">审核检品中</td>
												<td th:if="${p.status == 8}">商家承认完了</td>
												<td th:if="${p.status == 9}">纳品完成</td>
												<td th:if="${p.status <=3 || p.status == 6 }">
													<button class="btn btn-info btn-xs dropdown-toggle"
															type="button"
															th:onclick="showEditModal([[${p.detailId}]]);">
														<i class="fa fa-edit"></i>编辑
													</button>
													<button class="btn btn-danger btn-xs dropdown-toggle"
															type="button" th:onClick="deleteEntruDetail([[${p.detailId}]])">
														<i class="fa fa-trash"></i>删除
													</button>
												</td>
												<td th:if="${p.status >3 && p.status!=6}">
													<button class="btn btn-danger btn-xs dropdown-toggle"
															type="button" th:onClick="deleteEntruDetail([[${p.detailId}]])">
														<i class="fa fa-trash"></i>删除11
													</button>
												</td>
											</tr>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" th:include="/c/footer :: copyright"></div>
		</div>
	</div>

	<!--编辑模态框-->
	<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">编辑纳品详情</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group" id="opt1" style="display: none">
							<label class="col-lg-3 control-label">纳品数量</label>
							<div class="col-lg-9">
								<input type="text" id="nums" placeholder="请输入纳品数量" class="form-control"  onkeyup="value=value.replace(/[^\d]/g,'')">
								<input type="hidden" id = "detailId" class="form-control">
							</div>
						</div>
						<div class="form-group" id="opt2" style="display:none;">
							<label class="col-lg-3 control-label">货运单号</label>
							<div class="col-lg-9">
								<input type="text" id = "numbers" placeholder="请输入货运单号" class="form-control">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="submitEdit()">确认</button>
				</div>
			</div>
		</div>
	</div>

	<!--追加商品模态框-->
	<div class="modal inmodal fade" id="addGoodModel" tabindex="-1" role="dialog"
		 aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">追加商品</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="additionalEntry">
						<div class="form-group">
							<label class="col-lg-3 control-label">商品名称</label>
							<div class="col-lg-9">
								<select id="goodsId"  class="selectpicker bs-select show-tick form-control"
										title='请选择商品'  name="additonalGoodsId" data-live-search="true" onchange="getEntryDetailInfoByGoodsId()"></select>
								<input type="hidden" id = "entryId" class="form-control">
								<input type="hidden" id = "detailIdUp" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">库存数量</label>
							<div class="col-lg-9">
								<input type="text" id = "stockNums"  class="form-control" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">申请数量</label>
							<div class="col-lg-9">
								<input type="text" id = "applyNums" name="additonalNums"  onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">包裹尺寸(cm³)</label>
							<div class="col-lg-9">
								<input type="text" id = "packeageSize" name="additonalSize" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'');"class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">内盒数量</label>
							<div class="col-lg-9">
								<input type="text" id = "innerNums" name="additonalInnerNums" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">盒内商品数量</label>
							<div class="col-lg-9">
								<input type="text" id = "innerGoodsNums" name="additonalInnerGoodsNums" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">有效期</label>
							<div class="col-lg-9">
								<input type="text" id = "validate" name="additonalValidate" class="form-control datepicker">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="submitAdditionalEntryGoods()">确认</button>
				</div>
			</div>
		</div>
	</div>




	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<script th:src="@{/js/jquery.validate.min.js}"></script>

	<!-- Data Tables -->
	<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
	<script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js/inspinia.js}"></script>
	<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

	<!-- iCheck -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/demo/peity-demo.js}"></script>
	<!-- Data picker -->
	<script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
	<!-- FooTable -->
	<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
	<!-- select data -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- common -->
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/entry/bEntryDetail.js}"></script>

	<script th:inline="javascript">
        $(document).ready(function() {
            $('.footable').footable();
            $('.i-checks').iCheck({
                checkboxClass : 'icheckbox_square-green',
                radioClass : 'iradio_square-green',
            });
            $('.datepicker').datepicker({
                format : 'yyyy-mm-dd',
                language : 'zh-CN',
                todayBtn : "linked",//显示‘今日’按钮
                clearBtn : true,//清除按钮
                keyboardNavigation : false,
                forceParse : false,
                autoclose : true
            });
        });
	</script>
</body>

</html>
