<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>纳品一览</title>

	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/sweetalert/sweetalert.css}"
		  rel="stylesheet" />

	<!-- Data Tables -->
	<link th:href="@{/css/plugins/dataTables/datatables.min.css}"
		  rel="stylesheet">

	<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />

	<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/footable/footable.core.css}"
		  rel="stylesheet" />
	<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet">

</head>

<body>

	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation"
			th:include="/c/nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="border-bottom" th:include="/c/header :: headerTop"></div>
			<div class="row wrapper border-bottom white-bg page-heading"
				th:fragment="headerNav">
				<div class="col-lg-10">
					<h2>纳品一览</h2>
					<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li><a>库存管理</a></li>
						<li class="active"><strong>纳品一览</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div>

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>搜索&amp;操作</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="display: block;">
								<div class="row">
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="product_name1">纳品ID</label>
											<select id="entry_id"  class="selectpicker bs-select show-tick form-control"
													title='请选择纳品id'  data-live-search="true"    multiple></select>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="status">纳品状态</label> <select
												name="status" id="status" class="form-control">
												<option value="-1" selected="">全部状态</option>
												<option value="1">申请中</option>
												<option value="2">库存不足</option>
												<option value="3">运营商承认完了</option>
												<option value="4">取消</option>
												<option value="5">商品运输中</option>
												<option value="6">入库完了</option>
												<option value="7">审核检品中</option>
												<option value="8">商家承认完了</option>
												<option value="9">纳品完成</option>
											</select>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="product_name">商品SKU</label>
											<select id="goods_sku"  class="selectpicker bs-select show-tick form-control"
													title='请选择sku'  data-live-search="true"    multiple></select>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="price">商品条码</label> <input
												type="text" id="barCode" name="price" value=""
												class="form-control">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="quantity">商品名称</label> <input
												type="text" id="goodsName" name="quantity" value=""
												class="form-control">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group z-t">
											<button type="button" class="btn btn-primary" onclick="searchEntryList()">检索</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>纳品列表</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover dataTables-example" id="table_refresh"  th:fragment="table_refresh">
										<thead>
										<tr>
											<th>#</th>
											<th>纳品ID</th>
											<th>操作日期</th>
											<th>完成日期</th>
											<th>商品类型数量</th>
											<th>商品总数量</th>
											<th>实际入库类型数量</th>
											<th>实际入库商品数量</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
										</thead>
										<tbody>
											<tr th:each="p,pIndex:${item}">
											<td th:text="${pIndex.count}"></td>
											<td th:text="${p.entryId}"></td>
											<td th:text="${#dates.format(p.operTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
											<td th:text="${#dates.format(p.completeTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
											<td th:text="${p.skuNums}"></td>
											<td th:text="${p.goodsNums}"></td>
											<td th:text="${p.inputSkuNums}"></td>
											<td th:text="${p.inputGoodsNums}"></td>
											<td th:if="${p.status == 1}">申请中</td>
											<td th:if="${p.status == 2}">库存不足</td>
											<td th:if="${p.status == 3}">运营商承认完了</td>
											<td th:if="${p.status == 4}">取消</td>
											<td th:if="${p.status == 5}">运输中</td>
											<td th:if="${p.status == 6}">入库完了</td>
											<td th:if="${p.status == 7}">审核检品中</td>
											<td th:if="${p.status == 8}">商家承认完了</td>
											<td th:if="${p.status == 9}">纳品完成</td>
											<td th:if="${p.status ==1 || p.status == 3}">
												<button class="btn btn-info btn-xs dropdown-toggle"
														type="button" th:onclick="getEnterDetail([[${p.entryId}]]);">
													<i class="fa fa-edit"></i>查看明细
												</button>
												<button class="btn btn-danger btn-xs dropdown-toggle"
														type="button" th:onClick="cancle([[${p.entryId}]])">
													<i class="fa fa-trash"></i>取消
												</button>
											</td>
											<td th:if="${p.status == 2}">
												<button class="btn btn-info btn-xs dropdown-toggle"
														type="button" th:onclick="getEnterDetail([[${p.entryId}]]);">
													<i class="fa fa-edit"></i>查看明细
												</button>
												<button class="btn btn-warning btn-xs dropdown-toggle"
														type="button" th:onClick="">
													<i class="copy"></i>再次申请
												</button>
											</td>
												<td th:if="${p.status !=1 && p.status != 3 && p.status != 2}">
													<button class="btn btn-info btn-xs dropdown-toggle"
															type="button" th:onclick="getEnterDetail([[${p.entryId}]]);">
														<i class="fa fa-edit"></i>查看明细
													</button>
												</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" th:include="/c/footer :: copyright"></div>
		</div>
	</div>

	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Data Tables -->
	<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js/inspinia.js}"></script>
	<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

	<!-- iCheck -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/demo/peity-demo.js}"></script>

	<!-- FooTable -->
	<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

	<!-- common -->
	<script th:src="@{/js/common.js}"></script>
	<!-- select data -->
	<script th:src="@{/js/bootstrap-select.js}"></script>

	<script th:src="@{/js/entry/bEntry.js}"></script>

	<script th:inline="javascript">
		
	</script>

</body>

</html>
