<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation"
		th:fragment="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element">
						<span> <img alt="image" class="img-circle"
							th:src="@{/img/profile_small.jpg}" />
						</span> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
							class="clear"> <span class="block m-t-xs"> <strong
									class="font-bold" th:text="${session.u_login}"></strong>
							</span>
						</span>
						</a>
					</div>
					<div class="logo-element">仓</div>
				</li>
				<li><a th:href="@{/master/index}"><i class="fa fa-diamond"></i>
						<span class="nav-label">首页</span></a></li>
				
				<li id="business" th:class="${nav_active5}?'active'"><a><i
						class="fa fa-envelope"></i> <span class="nav-label">用户管理</span><span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li th:class="${nav_active5==1}?'active'"><a
							href="/m/warehouse/list">运营商管理</a></li>
						<li th:class="${nav_active5==2}?'active'"><a
							href="/m/business/list">商家管理</a></li>
					</ul></li>
				<li id="system" th:class="${nav_active6}?'active'"><a><i
						class="fa fa-files-o"></i> <span class="nav-label">系统设定</span><span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li th:class="${nav_active6==1}?'active'"><a
							href="/m/sys/modifypwd">修改密码</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>
</body>
</html>



