<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osl.mapper.EntryMapper">
    <insert id="insertEntry" parameterType="com.osl.mapper.entity.EntryEntity" useGeneratedKeys="true" timeout="20">
    	INSERT INTO t_entry (entry_id, oper_time, complete_time, sku_nums, goods_nums, input_sku_nums, input_goods_nums, status, business_id, warehouse_id, oper, new_date)
			VALUES(#{entryId}, #{operTime}, #{completeTime}, #{skuNums}, #{goodsNums}, #{inputSkuNums}, #{inputGoodsNums}, #{status}, #{businessId}, #{warehouseId}, #{oper}, #{newDate});
    </insert>
</mapper>