<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osl.mapper.GoodsMapper">
	<select id="find_goodsAll" resultType="com.osl.model.GoodsModel">
		select t_goods.*,t_goods_category.name as categoryName,t_business.name as bName from t_goods,t_goods_category,t_business
		where t_goods.delete_flg=0 and t_goods.category_id=t_goods_category.id and t_goods.business_id=t_business.id
	</select>
	<select id="find_goodsBusiness_All"
		resultType="com.osl.model.GoodsModel" parameterType="int">
		select t_goods.*,t_goods_category.name as categoryName from t_goods,t_goods_category
		where t_goods.delete_flg=0 and t_goods.category_id=t_goods_category.id and t_goods.business_id=#{bid}
	</select>
	<select id="find_goodsBusiness_sku"
		resultType="com.osl.model.GoodsModel">
		select * from t_goods
		where delete_flg=0 and business_id=#{bid} and sku=#{sku}
	</select>
	<insert id="insertGoods"
		parameterType="com.osl.mapper.entity.GoodsEntity">
		insert into t_goods
		(category_id,sku,barcode,name,shape,volume,length,width,height,weight,business_id,color,remark,new_date)
		values
		(#{categoryId},#{sku},#{barcode},#{name},#{shape},#{volume},#{length},#{width},#{height},#{weight},#{businessId},#{color},#{remark},now())
	</insert>
	<update id="deleteById" parameterType="int">
		update t_goods set
		delete_flg=1 where id=#{id}
	</update>
	<update id="updateGoods"
		parameterType="com.osl.mapper.entity.GoodsEntity">
		update t_goods set
		category_id=#{categoryId},
		sku=#{sku},
		barcode=#{barcode},
		name=#{name},
		shape=#{shape},
		volume=#{volume},
		length=#{length},
		width=#{width},
		height=#{height},
		weight=#{weight},
		business_id=#{businessId},
		color=#{color},
		remark=#{remark}
		where
		id=#{id}
	</update>
	<select id="findById" parameterType="int"
		resultType="com.osl.mapper.entity.GoodsEntity">
		select * from t_goods
		where id=#{id}
	</select>
	<select id="findBySku" parameterType="String"
		resultType="com.osl.mapper.entity.GoodsEntity">
		select * from t_goods
		where sku=#{sku} and delete_flg=0
	</select>
</mapper>