<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osl.mapper.OutputMapper">
	<select id="findOutputAll"
		resultType="com.osl.model.OutputModel" parameterType="com.osl.model.OutputModel">
		select t.* , business.name as businessName , tdetail.customer as customer , tdetail.new_date as requestDate
		from t_output t 
		left join t_output_detail tdetail on t.output_id = tdetail.output_id 
		left join t_goods goods on tdetail.goods_id = goods.goods_id 
		left join t_business business on t.business_id = business.id 
		where 1=1 
        <if test="businessId != -1">
        	and t.business_id= #{businessId} 
        </if>
        <if test="warehouseId != -1">
        	and t.warehouse_id= #{warehouseId} 
        </if>
        <if test="depotId !=null and depotId != ''">
        	and tdetail.depot_id= #{depotId} 
        </if>
        <if test="sku !=null and sku != ''">
        	and goods.sku= #{sku} 
        </if>
        <if test="outputId !=null and outputId != ''">
        	and t.output_id= #{outputId} 
        </if>
        <if test="status != -1">
        	and t.status= #{status} 
        </if>
        <if test="barcode !=null and barcode != ''">
        	and goods.barcode= #{barcode} 
        </if>
        <if test="goodsName !=null and goodsName != ''">
        	and goods.name= #{goodsName} 
        </if>
        <if test="customer !=null and customer != ''">
        	and tdetail.customer= #{customer} 
        </if>
        <if test="startNewDate !=null and startNewDate != ''">
        	and t.output_time <![CDATA[ >= ]]> #{startNewDate} 
        </if>
        <if test="endNewDate !=null and endNewDate != ''">
        	and t.output_time <![CDATA[ <= ]]> #{endNewDate} 
        </if>
        and t.delete_flg = 0 
        order by t.update_date desc
	</select>
	
	<select id="findById" resultType="com.osl.model.OutputdetailModel" parameterType="String">
		select *
		from t_output_detail 
		where 1=1 
		and delete_flg = 0 
		and detail_id=#{detailId} 
	</select>
	
	<select id="findOutputById" resultType="com.osl.model.OutputModel" parameterType="String">
		select * 
		from t_output 
		where 1=1 
		and output_id = #{outputId}
	</select>
	
	<select id="findDetailListById" resultType="com.osl.model.OutputdetailModel" parameterType="com.osl.model.OutputdetailModel">
		select tdetail.* , form.name as sellplatformName , goods.sku as sku , category.name as categoryName , goods.name as goodsName , combination.name as combinationName 
		from t_output_detail tdetail 
		left join t_goods goods on tdetail.goods_id = goods.goods_id 
		left join t_goods_category category on goods.category_id = category.id 
		left join t_sellship ship on ship.sell_id = tdetail.ship_id
		left join t_sellplatform form on ship.platform_id = form.id
		left join t_combination combination on combination.combination_id = tdetail.combination_id
		where 1=1 
        <if test="sku !=null and sku != ''">
        	and goods.sku= #{sku} 
        </if>
        <if test="status != -1">
        	and tdetail.status= #{status} 
        </if>
        <if test="barcode !=null and barcode != ''">
        	and goods.barcode= #{barcode} 
        </if>
        <if test="goodsName !=null and goodsName != ''">
        	and goods.name= #{goodsName} 
        </if>
        <if test="customer !=null and customer != ''">
        	and tdetail.customer= #{customer} 
        </if>
        <if test="startNewDate !=null and startNewDate != ''">
        	and tdetail.new_date <![CDATA[ >= ]]> #{startNewDate} 
        </if>
        <if test="endNewDate !=null and endNewDate != ''">
        	and tdetail.new_date <![CDATA[ <= ]]> #{endNewDate} 
        </if>
        <if test="sellplatformId != '-1'">
        	and form.id = #{sellplatformId} 
        </if>
		and tdetail.delete_flg = 0 
		and tdetail.output_id= #{outputId}
		order by tdetail.update_date desc
	</select>
	
	<delete id="deleteOutputById" parameterType="String">
		delete from t_output where output_id= #{outputId}
	</delete>
	
	<delete id="deleteOutputDetailByOutputId" parameterType="String">
		delete from t_output_detail where output_id= #{outputId}
	</delete>
	
	<delete id="deleteOutputDetailByDetailId" parameterType="String">
		delete from t_output_detail where detail_id= #{detailId}
	</delete>
	
	<update id="cancelOutputById">
		update t_output set status = #{status} where output_id= #{outputId}
	</update>
	
	<update id="cancelOutputDetailByOutputId">
		update t_output_detail set status = #{status} where output_id= #{outputId}
	</update>
	
	<update id="cancelOutputDetailByDetailId">
		update t_output_detail set status = #{status} where detail_id= #{detailId}
	</update>
	
	<insert id="saveNewOutput"
		parameterType="com.osl.model.OutputModel">
		insert into t_output (output_id, output_time, sku_nums, goods_nums, status, business_id, warehouse_id, oper, new_date,update_date, delete_flg)
		 values  
		(#{outputId},#{outputTime},#{skuNums},#{goodsNums},#{status},#{businessId},#{warehouseId},#{oper},#{newDate},#{updateDate},#{deleteFlg})
	</insert>
	
	<insert id="saveNewOutputDetail"
		parameterType="java.util.List">
		insert into t_output_detail
		(detail_id, goods_id, nums, depot_id, shelves_id, inner_nums, inner_goods_nums, type, ship_id, goods_type, output_id, order_id,customer,postcode,address1,address2,tele,send_type,send_id,transport_mode,iscombination,combination_id,status,return_id,return_send_id, new_date, update_date, delete_flg)
		values 
		<foreach collection ="list" item="model" index= "index" separator =",">
	        (
	        #{model.detailId},
	        #{model.goodsId},
	        #{model.nums},
	        #{model.depotId},
	        #{model.shelvesId},
	        #{model.innerNums},
	        #{model.innerGoodsNums},
	        #{model.type},
	        #{model.shipId},
	        #{model.goodsType},
	        #{model.outputId},
	        #{model.orderId},
	        #{model.customer},
	        #{model.postcode},
	        #{model.address1},
	        #{model.address2},
	        #{model.tele},
	        #{model.sendType},
	        #{model.sendId},
	        #{model.transportMode},
	        #{model.iscombination},
	        #{model.combinationId},
	        #{model.status},
	        #{model.returnId},
	        #{model.returnSendId},
	        #{model.newDate},
	        #{model.updateDate},
	        #{model.deleteFlg}
	        )
        </foreach >
	</insert>
	
	<update id="updateOutputDetail" parameterType="com.osl.model.OutputdetailModel">
		update t_output_detail 
		set nums = #{nums} , update_date = #{updateDate} 
		where detail_id = #{detailId}
	</update>
	
	<update id="updateOutputDetailStatus" parameterType="com.osl.model.OutputdetailModel">
		update t_output_detail 
		set status = #{status} , 
		<if test="status != 4">
        	inner_nums = #{innerNums} , inner_goods_nums = #{innerGoodsNums} ,
        </if>
		update_date = #{updateDate} 
		where detail_id = #{detailId}
	</update>
	
	<update id="updateOutput" parameterType="com.osl.model.OutputModel">
		update t_output 
		set goods_nums = #{goodsNums} , update_date = #{updateDate} , status = #{status} 
		where output_id = #{outputId}
	</update>
	
	<select id="findAllOutputNumByGoodsId" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from t_output_detail where goods_id = #{goodsId} and status in (0,2)
	</select>
	
	<select id="countDetailStatus" resultType="com.osl.model.OutputdetailModel" parameterType="com.osl.model.OutputdetailModel">
		select status from t_output_detail where output_id = #{outputId} group by status
	</select>
</mapper>