<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osl.mapper.ShelvesMapper">
	<select id="findShelvesAll"
		resultType="com.osl.model.ShelvesModel" parameterType="int">
		select
		t_shelves.*,t_depot.name as depotName from t_depot,t_shelves where
		t_shelves.delete_flg=0 and t_shelves.depot_id=t_depot.id and
		t_depot.business_id=#{bid}
	</select>
	
	<select id="queryShelvesEntityListByDepotId"
		resultType="com.osl.mapper.entity.ShelvesEntity" parameterType="string">
		select *
		from t_shelves 
		where 1=1
		and delete_flg = 0 
		and depot_id = #{depotId}
	</select>
</mapper>