<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>出库请求</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/sweetalert/sweetalert.css}"
	rel="stylesheet" />

<!-- Data Tables -->
<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
<link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/plugins/dataTables/datatables.min.css}"
	rel="stylesheet">

<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/footable/footable.core.css}"
	rel="stylesheet" />

</head>

<body>

	<div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation"
			th:include="/c/nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
			<div class="border-bottom" th:include="/c/header :: headerTop"></div>
			<div class="row wrapper border-bottom white-bg page-heading"
				th:fragment="headerNav">
				<div class="col-lg-10">
					<h2>出库请求</h2>
					<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li><a>库存管理</a></li>
						<li class="active"><strong>出库请求</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div>

			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row">
					<form id="form" th:action="@{/b/output/request/upload}" method="post" enctype="multipart/form-data">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>批量请求</h5>
									<div class="ibox-tools">
										<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content" style="display: block;">
									<div class="fileinput fileinput-new input-group"
										data-provides="fileinput">
										<div class="form-control" data-trigger="fileinput">
											<i class="glyphicon glyphicon-file fileinput-exists"></i> <span
												class="fileinput-filename"></span>
										</div>
										<span class="input-group-addon btn btn-default btn-file">
											<span class="fileinput-new">Select file</span> <span
											class="fileinput-exists">Change</span> <input type="file"
											name="requestFile" />
										</span> <a href="#"
											class="input-group-addon btn btn-warning fileinput-exists"
											data-dismiss="fileinput">Remove</a> <a href="#" onclick="document.getElementById('form').submit();"
											class="input-group-addon btn btn-primary fileinput-exists"
											data-dismiss="fileinput">提交请求</a>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- <div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>搜索&amp;操作</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="display: block;">
								<div class="row">
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="product_name">商品SKU</label>
											<input type="text" id="product_name" name="product_name"
												value="" class="form-control">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="price">商品条码</label> <input
												type="text" id="price" name="price" value=""
												class="form-control">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="quantity">商品名称</label> <input
												type="text" id="quantity" name="quantity" value=""
												class="form-control">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<label class="control-label" for="status">商品分类</label> <select
												name="status" id="status" class="form-control">
												<option value="1" selected="">全部分类</option>
												<option value="0">フラッシュメモリ</option>
											</select>
										</div>
									</div>
									<div class="col-sm-1">
										<div class="form-group">
											<label class="control-label" for="quantity1">库存数量</label> <input
												type="text" id="quantity1" name="quantity1" value=""
												class="form-control">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group z-t">
											<button type="button" class="btn btn-primary">检索</button>
											<button type="button" class="btn btn-primary"
												data-toggle="modal" data-target="#myModal">添加出库请求</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<div class="col-lg-12" th:if="${uploadFlag==0}">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>上传结果</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="display: block;">
								<div class="row">
									<div class="col-sm-9">
										<div class="form-group" style="color:green">【上传成功：<span th:text="${successNum}"></span>条】</div>
										<div class="form-group" style="color:red">
											<div>【上传失败：<span th:text="${errorNum}"></span>条】
												<span th:if="${errorNum > 0}">
													【错误行号：】
													<span th:each="p,pIndex:${errorList}">
														<span th:text="${p}"></span>
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>出库请求列表</h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<div class="table-responsive">
										<table
											class="table table-striped table-bordered table-hover dataTables-example" id="table_refresh"  th:fragment="table_refresh">
											<thead>
												<tr>
													<th>#</th>
													<th>销售平台</th>
													<th>贩卖ID</th>
													<th>贩卖类型</th>
													<th>SKU</th>
													<th>分类</th>
													<th>名称</th>
													<th>在库数量</th>
													<th>出库数量</th>
													<th>分项库存</th>
													<th>客户名称</th>
													<th>邮编</th>
													<th>地址1</th>
													<th>地址2</th>
													<th>电话</th>
													<th>发送方式</th>
													<th>订单番号</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="p,pIndex:${item}">
													<td th:text="${pIndex.count}"></td>
													<td th:text="${p.sellplatformName}"></td>
													<td th:text="${p.shipId}"></td>
													<td th:text="${p.iscombination == 0 ? '单品' : '组合品'}"></td>
													<td th:text="${p.sku}"></td>
													<td th:text="${p.categoryName}"></td>
													<td th:text="${p.goodsName}"></td>
													<td th:style="'color:' + @{(${p.insufficient} == 0 ? 'red' : '')} + ''" th:text="${p.requestInputGoodsNum}"></td>
													<td th:text="${p.requestOutputGoodsNum}"></td>
													<td>
														<div th:if="${p.iscombination == 1}">
															<div th:each="t,tIndex:${p.requestOutputdetailModelList}">
																<div th:style="'color:' + @{(${t.insufficient} == 0 ? 'red' : '')} + ''"><span th:style="'display:none'" th:text="${t.goodsName}"></span><span th:text="${t.goodsName}"></span>【预出库 ：<span th:text="${t.requestOutputGoodsNum}"></span>】</div>
															</div>
														</div>
														<div th:else>
														</div>
													</td>
													<td th:text="${p.customer}"></td>
													<td th:text="${p.postcode}"></td>
													<td th:text="${p.address1}"></td>
													<td th:text="${p.address2}"></td>
													<td th:text="${p.tele}"></td>
													<td th:text="${p.sendType}"></td>
													<td th:text="${p.sendId}"></td>
													<td>
														<button class="btn btn-danger btn-xs dropdown-toggle"
															type="button" name="delete">
															<i class="fa fa-trash"></i>删除
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<button type="button" class="btn btn-primary">确认出库请求</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" th:include="/c/footer :: copyright"></div>
		</div>
	</div>

	<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">添加出库请求</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-3 control-label">销售平台</label>
							<div class="col-lg-9">
								<select class="form-control" name="account">
									<option>选择平台</option>
									<option>yahoo</option>
									<option>qoo10</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">贩卖类型</label>
							<div class="col-lg-9">
								<select class="form-control" name="account">
									<option>选择类型</option>
									<option>单品</option>
									<option>组合品</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">贩卖ID</label>
							<div class="col-lg-9">
								<input type="email" placeholder="请输入贩卖ID" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品SKU</label>
							<div class="col-lg-9">
								<input type="email" placeholder="请输入商品SKU" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品条码</label>
							<div class="col-lg-9">
								<input type="email" placeholder="请输入商品条码" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">商品名称</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入商品名称"
									class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">出库数量</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入数量" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">订单号</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入订单号" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">客户名称</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入客户名称" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">邮编</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入邮编" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">地址1</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入地址1" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">地址2</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入地址2" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">电话</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入电话" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">发送方式</label>
							<div class="col-lg-9">
								<input type="password" placeholder="请输入发送方式" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">备注</label>
							<div class="col-lg-9">
								<input type="password" placeholder="" class="form-control">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">确认添加</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Mainly scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Data Tables -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
	<!-- Peity -->
	<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js/inspinia.js}"></script>
	<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

	<!-- iCheck -->
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

	<!-- Peity -->
	<script th:src="@{/js/demo/peity-demo.js}"></script>

	<!-- FooTable -->
	<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

	<!-- common -->
	<script th:src="@{/js/common.js}"></script>
	
	<script th:src="@{/js/output/request.js}"></script>

	<script th:inline="javascript">
		$(document).ready(function() {
			$('.i-checks').iCheck({
				checkboxClass : 'icheckbox_square-green',
				radioClass : 'iradio_square-green',
			});
		});
	</script>

</body>

</html>
